body {
  background: url("../images/portada-tour.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding:50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #2f84a5;
}

h1 {
  color: 15px;
}

.error{
  color: red;
}

.lista{
  
  color: black;
  text-align: center;
  font-style: italic;

}
.nav-item{
  font-size: 19px;
  font-style: italic;
  
}
.navbar-brand{
  font-size: 15px;
}
.favoritos {
  display: inline-block;
  padding: 15px 15px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  box-shadow: 9px #999;
}
.delete{
  display: inline-block;
  padding: 15px 15px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  box-shadow: 9px #999;
}
.backImg{
  background-color: transparent;
}
.alinear {
  text-align: center;
  font-size: 20px;
}