body {
  background-image: url("../images/Tour.jpg");
  background-size: cover;
  
  
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #2f84a5;
}

h1 {
  color: 15px;
}

.error{
  color: red;
}

.lista{
  
  color: black;
  text-align: center;
  font-style: italic;

}
#submit{
  
}