


<div class='container'>
  <h1 class="lista">List of Cyclistst</h1>

  <div class='row row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 my-5'>
  {{!-- image name status --}}
    {{#each ciclista}}
    <div class='col'>
      <div class='card shadow-sm'>
        <img src="{{image}}"  class="card-img-top" alt="">
        <p>{{name}}</p>
        <p>{{nationality}}</p>
        <form action = "/ciclista/add-favorite/{{_id}}" method="POST">

          <button type="submit">Add Favourites</button>
        </form>
      </div>
    </div>
    {{/each}}    
  </div>
</div>